.skip-link {
  background-color: $purple-500;
  border-radius: $border-radius;
  color: $white;
  display: block;
  left: $gl-spacing-3;
  padding: $gl-spacing-4;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: $gl-spacing-3;
  width: $sidebar-width - ($gl-spacing-3 * 2);
  z-index: $z-nav-skip-link;

  &:not(:focus):not(:active) {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
